@using ReportViewerForMvc

@{
    ViewBag.Title = "TeamReport";
}

<h2>Team Report</h2>
<table>
    <tr>
        <td>
            @Html.ActionLink("Back to List", "Index")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ReportViewer(
            ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer,
            new { scrolling = "no" })
        </td>
    </tr>
</table>

