@using ReportViewerForMvc

@{
    ViewBag.Title = "TeamReport";
}

<h2>Team Report</h2>

@Html.ActionLink("Back to List", "Index")

@Html.ReportViewer(
ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, 
new { scrolling = "no" })

