@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This application is used to track leagues at
    the Frick Park Lawn Bowling Club.</p>

<p>The FPLBC website is <a href="http://lawnbowlingpittsburgh.org">http://lawnbowlingpittsburgh.org</a></p>
