@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

This application is supported by Jeffrey Lederer.
The source code depository for this application as at <a href="https://github.com/jeffreylederer/Tournament">https://github.com/jeffreylederer/Tournament</a>

<br/><br/>


<address>
    <strong>Support:</strong>   <a href="mailto:jeffrey@winnlederer.com" target="blank">jeffrey@winnlederer.com</a><br />
</address>