
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome to @ViewBag.League</h2>

<p>League Administrators can add additional administrators and scorers</p>
<p>League Administrators can also add players to the league, setup teams, and create matches.</p>
<p>Scorers can set the score of matches for the league</p>

