@{
    ViewBag.Title = "ClearSchedule";
}

<h2>Delete Matches</h2>
<div class="validation-summary-errors text-danger">@ViewBag.Error</div>
    <h3 style="color: red;">Are you sure you want to delete the matches for this league?</h3>
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />

            </div>
        }
    </div>


