@using Microsoft.ReportingServices.Interfaces

@{
    ViewBag.Title = "PasswordAccepted";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Password Change Accepted</h2>

<p>Your password change was accepted.</p>
@{
    if (!User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Log in", "Login", "Accounts")
    }
}
<br />


