
@{
    ViewBag.Title = "Sent Email";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Sent Email</h2>

<p>An email has been sent with a link. Select the link to reset your password. You have 15 minutes to respond before the link
    times out.</p>

