
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var leaguename = "";
    var cookie = Request.Cookies["leaguename"];
    if (cookie != null)
    {
        leaguename = cookie.Value;
    }

}
<h2>@leaguename</h2>

@RenderBody()

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@RenderSection("scripts", required: false)


