@using ReportViewerForMvc

@{
    ViewBag.Title = "Schedule Report";
    Layout = "~/Views/Shared/_LeagueLayout.cshtml";
}

<h2>Playoffs Schedule Report for @ViewBag.Date</h2>
<table>
    <tr>
        <td>
            @Html.ActionLink("Back to List", "Index", new { id = ViewBag.Id, weekid = ViewBag.Weekid })
        </td>
    </tr>
    <tr>
        <td>
            @Html.ReportViewer(
            ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer,
            new { scrolling = "no" })
        </td>
    </tr>
</table>

