<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/09578161-1613-4aa8-b171-53e5cadacc3d/resourceGroups/TournamentRG/providers/Microsoft.Web/sites/LawnBowlingMS</ResourceId>
    <ResourceGroup>TournamentRG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lawnbowlingms.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lawnbowlingms.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LawnBowlingMS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LawnBowlingMS</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TournamentEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5041.site4now.net;Persist Security Info=True;User ID=DB_A48C47_leagues_admin;Password=Ilene913" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Tournament.Models.TournamentEntities, Tournament" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TournamentEntities-Web.config Connection String">
      <ParameterValue>Data Source=SQL5041.site4now.net;Persist Security Info=True;User ID=DB_A48C47_leagues_admin;Password=Ilene913</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>