
@{
    ViewBag.Title = "GenerateReport";
    Layout = "~/Views/Shared/_LeagueLayout.cshtml";
}

<h2>Rink Report</h2>

@Html.Raw(ViewBag.Report)

@Html.ActionLink("Export to Excel", "ExportToExcel", new {id = ViewBag.id})